* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body{
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: darkslategray;
}
 
/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
}
 
.wrapper {
  display: flex;
}
.container {
  max-width: 960px;
  margin-top: 25px;
}
 
.header-container {
  color: black;
  background-color: yellow;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items:stretch;
}
.header {
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  padding: 15px;
  border-radius: 4px;
  margin:15px;
  align-items:center;
}

@media only screen and (min-width: 700px) {
  /* ... */
  .form-row button {
    margin-left: 120px;
  }
  .legacy-form-row {
    margin-bottom: 10px;
  }
  .legacy-form-row legend {
    width: 120px;
    text-align: right;
    padding-right: 20px;
  }
  .legacy-form-row legend {
    float: left;
  }
  .form-row input[type='text'],
  .form-row input[type='email'],    /* Add */
  .form-row select,                 /* These */
  .form-row textarea {              /* Selectors */
    width: 250px;
    height: initial;
  }
  /* ... */
}
